@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: hsl(300 50% 100%);
  --foreground: hsl(300 0% 4%);
  --card: hsl(300 50% 100%);
  --card-foreground: hsl(300 0% 4%);
  --popover: hsl(300 50% 100%);
  --popover-foreground: hsl(300 0% 4%);
  --primary: hsl(330 0% 9%);
  --primary-foreground: hsl(300 0% 98%);
  --secondary: hsl(300 0% 96%);
  --secondary-foreground: hsl(330 0% 9%);
  --muted: hsl(300 0% 96%);
  --muted-foreground: hsl(300 0% 45%);
  --accent: hsl(300 0% 96%);
  --accent-foreground: hsl(330 0% 9%);
  --destructive: hsl(357.18 100% 45%);
  --border: hsl(330 0% 90%);
  --input: hsl(330 0% 90%);
  --ring: hsl(0 0% 63%);
  --chart-1: hsl(18.01 100% 48%);
  --chart-2: hsl(174.71 100% 28.999999999999996%);
  --chart-3: hsl(195.82 72% 23%);
  --chart-4: hsl(43.66 100% 50%);
  --chart-5: hsl(36.49 100% 50%);
  --sidebar: hsl(300 0% 98%);
  --sidebar-foreground: hsl(300 0% 4%);
  --sidebar-primary: hsl(330 0% 9%);
  --sidebar-primary-foreground: hsl(300 0% 98%);
  --sidebar-accent: hsl(300 0% 96%);
  --sidebar-accent-foreground: hsl(330 0% 9%);
  --sidebar-border: hsl(330 0% 90%);
  --sidebar-ring: hsl(0 0% 63%);
}

.dark {
  --background: hsl(300 0% 4%);
  --foreground: hsl(300 0% 98%);
  --card: hsl(330 0% 9%);
  --card-foreground: hsl(300 0% 98%);
  --popover: hsl(330 0% 9%);
  --popover-foreground: hsl(300 0% 98%);
  --primary: hsl(330 0% 90%);
  --primary-foreground: hsl(330 0% 9%);
  --secondary: hsl(320 0% 15%);
  --secondary-foreground: hsl(300 0% 98%);
  --muted: hsl(320 0% 15%);
  --muted-foreground: hsl(0 0% 63%);
  --accent: hsl(320 0% 15%);
  --accent-foreground: hsl(300 0% 98%);
  --destructive: hsl(358.75 100% 70%);
  --border: hsl(300 50% 100% / 0.1);
  --input: hsl(300 50% 100% / 0.15);
  --ring: hsl(300 0% 45%);
  --chart-1: hsl(225.35 84% 49%);
  --chart-2: hsl(159.74 100% 37%);
  --chart-3: hsl(36.49 100% 50%);
  --chart-4: hsl(273.3 100% 64%);
  --chart-5: hsl(345.32 100% 56.00000000000001%);
  --sidebar: hsl(330 0% 9%);
  --sidebar-foreground: hsl(300 0% 98%);
  --sidebar-primary: hsl(225.35 84% 49%);
  --sidebar-primary-foreground: hsl(300 0% 98%);
  --sidebar-accent: hsl(320 0% 15%);
  --sidebar-accent-foreground: hsl(300 0% 98%);
  --sidebar-border: hsl(300 50% 100% / 0.1);
  --sidebar-ring: hsl(300 0% 45%);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.grid-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,rgba(255,255,255,0.1) 1px, transparent 1px),linear-gradient(to bottom, rgba(255,255,255,0.1) 1px, transparent 1px);
  background-size: 50px 50px;
  pointer-events: none;
  z-index: -1;
}

.grid-background::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle,transparent,rgba(0,0,0,0.9));
}

@layer utilities {
  .gradient {
    @apply bg-gradient-to-b from-gray-400 via-gray-200 to-gray-600;
  }

  .gradient-title {
    @apply bg-gradient-to-b from-gray-400 via-gray-200 to-gray-600 font-extrabold tracking-tighter text-transparent bg-clip-text pb-2 pr-2;
  }
}

.hero-image-wrapper {
  perspective: 1000px;
}

.hero-image{
  transform: rotateX(15deg) scale(1);
  transition: transform 0.5s ease-out;
  will-change: transform;
}

.hero-image-scrolled{
  transform: rotateX(0deg) scale(1) translateY(40px);
}
